@mixin btn_outline {
  padding: 10px;
  color: $text_color_primary;
  border: 1px solid $color_secondary;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

@mixin btn_solid {
  width: fit-content;
  padding: 5px 10px;
  color: white;
  background-color: $color_secondary;
  border-radius: 5px;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  img {
    width: 20px;
    margin-right: 5px;
  }
}
